@import "~bootstrap/scss/bootstrap";
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";
@import "~ngx-toastr/toastr";
@import "node_modules/font-awesome/scss/font-awesome.scss";

$base-color: #20b2aa;
$base-color-hover: #1c948e;
$base-color-active: #146662;

body {
  background-color: white;
}

a {
  color: $base-color;
  text-decoration: none;

  &:hover{
    color: $base-color-hover;
  }
}

.btn-outline-secondary{
    color: $base-color;
    border-color: $base-color;

    &:hover {
      background-color: $base-color;
      border-color: $base-color;
      transition: 0.5s;
    }
}

.btn-primary {
  background-color: $base-color;
  border-color: $base-color;

  &:hover{
    background-color: $base-color-hover;
    border-color: $base-color-hover;
    transition: 0.5s;
  }

  &:active{
    &:active{

      background-color: $base-color-active;
      border-color: $base-color-active;
    }
  }
}
