li {
  color: lightseagreen;
  border-color: rgba(32, 178, 171, 0.404);

  &.active {
    background-color: lightseagreen;
    border-color: lightseagreen;
    &:hover {
      background-color: lightseagreen;
    }
  }

  &:hover {
    background-color: rgb(235, 235, 235);
  }
}

.text-selection-none {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.increment {
  color: lightseagreen;
  cursor: pointer;
  font-size: 1.5em;
}

.increment-span {
  font-size: x-large;
  font-weight: 500;
}
