<div class="form-container">
  <div class="form-signin w-100 m-auto">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <h1 class="h3 mb-3 fw-normal">Registrar</h1>

      <div class="mb-2">
        <app-text-input
          formControlName="name"
          [label]="'Name'"
        ></app-text-input>
      </div>

      <div class="mb-2">
        <app-text-input
          formControlName="email"
          [label]="'Email'"
        ></app-text-input>
      </div>

      <div class="mb-2">
        <app-text-input
          formControlName="password"
          [label]="'Senha'"
          [type]="'password'"
        ></app-text-input>
      </div>

      <!-- <div class="mb-3">
        <app-text-input
          formControlName="passwordConfirmation"
          [label]="'Confirme a senha'"
          [type]="'password'"
        ></app-text-input>
      </div> -->

      <button
        [disabled]="registerForm.invalid"
        class="w-100 btn btn-lg btn-primary"
        type="submit"
      >
        Criar conta
      </button>
    </form>
  </div>
</div>
