<div class="container">
  <div *ngIf="(basket$ | async) === null" class="d-flex justify-content-center">
    <h4>Não há ingressos em seu carrinho 😐</h4>
  </div>

  <div *ngIf="(basket$ | async) as basket" class="row">

    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="table-dark-light">
          <tr>
            <th class="align-middle" scope="col">
              <div class=" text-uppercase py-2 px-3">Filme</div>
            </th>
            <th class="align-middle text-center" scope="col">
              <div class=" text-uppercase py-2">Preço</div>
            </th>
            <th class="align-middle text-center" scope="col">
              <div class=" text-uppercase py-2">Quantidade</div>
            </th>
            <th class="align-middle text-center" scope="col">
              <div class=" text-uppercase py-2">Total</div>
            </th>
            <th class="align-middle text-center" scope="col">
              <div class=" text-uppercase py-2">Remover</div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of basket.items">
            <td class="align-middle px-3 py-2">
              <div class="p-2">
                <img src="{{item.imageUrl}}" alt="{{item.movieTitle}}" class="img-fluid img-max-h-50">
                <div class="ms-3 d-inline-block align-middle">
                  <h5 class="mb-0">
                    <a>{{item.movieTitle}}</a>
                  </h5>
                  <span class="text-muted d-block">
                    <em>Sessão: {{item.sessionStartTime}}hs - Ingresso: {{getTicketTypeName(item.ticketType)}}</em>
                  </span>
                </div>
              </div>
            </td>
            <td class="align-middle text-center py-2 fw-bold">
              {{item.price | currency:'BRL'}}
            </td>
            <td class="align-middle text-center text-selection-none py-2">
              <i class="fa fa-minus-circle increment" (click)="decrementItemQuantity(item)"></i>
              <span class="mx-3 increment-span">{{item.quantity}}</span>
              <i class="fa fa-plus-circle increment" (click)="incrementItemQuantity(item)"></i>
            </td>
            <td class="align-middle text-center py-2 fw-bold">
              {{(item.price * item.quantity) | currency:'BRL'}}
            </td>
            <td class="align-middle text-center py-2">
              <a (click)="removeItemFromBasket(item)" class="text-danger trash-can">
                <i class="fa fa-trash"></i>
              </a>
            </td>
          </tr>
        </tbody>
        <tfoot class="table-dark-light">
          <tr>
            <td></td>
            <td></td>
            <td class="align-middle text-center py-2 fw-bold">Total</td>
            <td class="align-middle text-center py-2 fw-bold">{{basket.total | currency:'BRL'}}</td>
            <td></td>
          </tr>
        </tfoot>
      </table>
    </div>

    <div class="d-flex justify-content-end">
      <a href="#" class="btn btn-primary py-2 btn-block">
        Finalizar a compra
      </a>
    </div>

  </div>
</div>

