<div class="container mt-3">
  <div *ngIf="orders === null" class="d-flex justify-content-center">
    <h4>Infelizmente ainda não há pedidos registrados 😐</h4>
  </div>

  <div class="row" *ngIf="orders">
    <div class="col-md-12 table-responsive">
      <table class="table table-hover">
        <thead class="table-dark-light">
          <tr>
            <th class="text-center text-uppercase py-3" scope="col">#</th>
            <th class="text-uppercase py-3 px-3" scope="col">Data</th>
            <th class="text-uppercase py-3 px-3" scope="col">Total</th>
            <th class="text-uppercase py-3 px-3" scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let order of orders; let i = index"
            routerLink="/orders/{{ order.id }}"
          >
            <th class="text-center align-middle" scope="row">
              {{ i + 1 }}
            </th>
            <td class="align-middle px-3">
              {{ order.createdAt | date: "medium" }}
            </td>
            <td class="align-middle px-3">
              {{ order.total | currency: "BRL" }}
            </td>
            <td class="align-middle px-3">{{ order.status }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
